[The Wants] <%= @engage_type %> 이메일 알림

아래와 같은 내용이 성공적으로 작성되었습니다.
감사합니다.

-------------------------------------------------
대상글
-------------------------------------------------
<%= link_to @engageable.title, @engageable %>

-------------------------------------------------
<%= @engage_type %>
-------------------------------------------------
<%= simple_format @engage.content %>
-------------------------------------------------

작성일시 : <%= Time.zone.now %>

<p>RORLAB 관리자 (rorlab@gmail.com)</p>
