<h3>[The Wants] <%= @engage_type %> 이메일 알림</h3>

<p>아래와 같은 내용이 성공적으로 작성되었습니다.</p>
<p>감사합니다.</p>

<hr>
<h4>대상글</h4>
<%= link_to @engageable.title, @engageable %>
<hr>
<h4><%= @engage_type %></h4>
<p><%= simple_format @engage.content %></p>
<hr>
<br />

작성일시 : <%= Time.zone.now %>

<p>RORLAB 관리자 (rorlab@gmail.com)</p>
