<h1><%= t('views.jobs.index.listing_jobs') %></h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Intro</th>
      <th>From</th>
      <th>To</th>
      <th>Always</th>
      <th>Contact</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.company %></td>
        <td><%= job.intro %></td>
        <td><%= job.from %></td>
        <td><%= job.to %></td>
        <td><%= job.always %></td>
        <td><%= job.contact %></td>
        <td><%= job.user %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('views.jobs.index.new_job'), new_job_path, class: 'btn btn-default' %>
