<h1><%= t('views.jobs.index.listing_jobs') %></h1>

<div class="panel panel-default">
  <table class='table table-bordered table-hover table-condensed'>
    <thead>
      <tr>
        <th class='col-md-8'>글제목</th>
        <th class='col-md-2'>현재상태</th>
        <th class='col-md-2'>작성일</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= link_to job.title, job %> <small>(<%= job.engages.size %>)</small></td>
          <td class='center'><%= estatus job.try(:engage_status).try(:started_status) %></td>
          <td title='<%= job.created_at%>'><%= time_ago_in_words job.created_at %>전</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to t('views.jobs.index.new_job'), new_job_path, class: 'btn btn-default' %>
