<% if @job.company %>
  <h1 style='border-bottom:1px solid #eaeaea;'>
    <%= @job.company %>
  </h1>
<% end %>

<h3><%= @job.title %></h3>
<p>: <%= @job.content %>

<div class="panel panel-default">
  <table class='table table-bordered table-hover table-th-vertical'>
    <tr>
      <th><%= t('activerecord.attributes.job.company') %></th>
      <td><%= @job.company %></td>
    </tr>
    <tr>
      <th><%= t('activerecord.attributes.job.intro') %></th>
      <td><%= @job.intro %></td>
    </tr>

    <% if @job.always %>
    <tr>
      <th><%= t('activerecord.attributes.job.always') %></th>
      <td><%= @job.always %></td>
    </tr>
    <% else %>
    <tr>
      <th><%= t('activerecord.attributes.job.from') %></th>
      <td><%= @job.from %></td>
    </tr>

    <tr>
      <th><%= t('activerecord.attributes.job.to') %></th>
      <td><%= @job.to %></td>
    </tr>
    <% end %>

    <tr>
      <th><%= t('activerecord.attributes.job.contact') %></th>
      <td><%= @job.contact %></td>
    </tr>

    <tr>
      <th><%= t('activerecord.attributes.job.user') %></th>
      <td><%= link_to @job.user.email, "mailto:#{@job.user.email}" %></td>
    </tr>
  </table>
</div>

<div class="form-actions">
  <%= link_to t('views.jobs.show.edit'), edit_job_path(@job), class: 'btn btn-default' %>
  <%= link_to t('views.jobs.show.back'), jobs_path, class: 'btn btn-default' %>
</div>
