<% if @job.company %>
  <h1 style='border-bottom:1px solid #eaeaea;'>
    <%= @job.company %>
  </h1>
<% end %>

<h3><%= @job.title %></h3>
<p>: <%= @job.content %>

<div class="panel panel-default">
  <table class='table table-bordered table-hover table-th-vertical'>
    <tr>
      <th><%= t('activerecord.attributes.job.company') %></th>
      <td><%= @job.company %></td>
    </tr>
    <tr>
      <th><%= t('activerecord.attributes.job.intro') %></th>
      <td><%= @job.intro %></td>
    </tr>

    <% if @job.always %>
    <tr>
      <th><%= t('activerecord.attributes.job.always') %></th>
      <td><%= @job.always %></td>
    </tr>
    <% else %>
    <tr>
      <th><%= t('activerecord.attributes.job.from') %></th>
      <td><%= @job.from %></td>
    </tr>

    <tr>
      <th><%= t('activerecord.attributes.job.to') %></th>
      <td><%= @job.to %></td>
    </tr>
    <% end %>

    <tr>
      <th><%= t('activerecord.attributes.job.contact') %></th>
      <td><%= @job.contact %></td>
    </tr>

    <tr>
      <th><%= t('activerecord.attributes.job.user') %></th>
      <td><%= link_to @job.user.email, "mailto:#{@job.user.email}" %></td>
    </tr>
  </table>
</div>

<div class="form-actions">
  <% if current_user.can_update? @job %>
    <%= link_to t('views.jobs.show.edit'), edit_job_path(@job), class: 'btn btn-default' %>
  <% end %>
  <%= link_to t('views.jobs.show.back'), jobs_path, class: 'btn btn-default' %>
</div>

<div class='engages'>
  <h3>지원현황</h3>
  <ol id='job_<%= @job.id %>' >
    <%= render @job.engages %>
  </ul>
</div>

<div id="engage_form_<%= @job.id %>">
  <%= render 'engages/engage_form', engageable: @job %>
</div>

<div class="comments_for_job">
  <h3><%= t('views.comments.title')%> :</h3>
  <ul id='comments_job_<%= @job.id %>'>
    <%= render @job.comments %>
  </ul>
</div>

<div id='comment_form_job_<%= @job.id %>' class="comment_form">
  <%= render 'comments/form', commentable: @job %>
</div>

