<h2>
  Wants 홈페이지...
</h2>

<% if user_signed_in? %>
  <%= current_user.email %>로 로그인하셨습니다.
  <%= link_to "Log out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?"} %>
<% else %>
  <%= link_to "Log in", new_user_session_path %> |
  <%= link_to "Sign up", new_user_session_path %> |
  <%= link_to "Password lost?", new_user_password_path %> |
  <%= link_to "Confirm email", new_user_confirmation_path %>
<% end %>