<h1><%= @worker.title %></h1>
<p>: <%= @worker.content %> <%= published_icon(@profile.published) %></p>

<%= render 'profiles/profile' if @profile.published %>

<div class="form-actions">
  <%= link_to t('views.workers.show.edit'), edit_worker_path(@worker), class: 'btn btn-default' %>
  <%= link_to t('views.workers.show.back'), workers_path, class: 'btn btn-default' %>
</div>

<div class='engages'>
  <h3>인터뷰요청 상황</h3>
  <ol id='worker_<%= @worker.id %>'>
    <%= render @worker.engages %>
  </ul>
</div>

<div class='engage_form'>
  <%= render 'engages/form', {engageable: @worker, title: "인터뷰"} %>
</div>

<div class="comments_for_worker">
  <h3><%= t('views.comments.title') %> :</h3>
  <ul id='comments_worker_<%= @worker.id %>'>
    <%= render @worker.comments %>
  </ul>
</div>

<div id='comment_form_worker_<%= @worker.id %>' class="comment_form">
  <%= render 'comments/form', commentable: @worker %>
</div>
