<h1><%= @worker.title %></h1>
<p>: <%= @worker.content %> <%= published_icon(@worker.user.profile.published) if @worker.user.profile.present? %></p>

<%= render 'profiles/profile', profile: @worker.user.profile if @worker.user.try(:profile).try(:published) %>
<%= estatus @worker.try(:engage_status).try(:started_status) %>
<div class="form-actions">
  <% if current_user.can_update? @worker %>
    <%= link_to t('views.workers.show.edit'), edit_worker_path(@worker), class: 'btn btn-default' %>
  <% end %>
  <% if current_user.can_delete? @worker %>
    <%= link_to t('views.workers.show.destroy'), worker_path(@worker), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
  <% end %>
  <%= link_to t('views.workers.show.back'), workers_path, class: 'btn btn-default' %>
</div>

<div class='engages'>
  <h3>인터뷰요청 상황 <small><%= @worker.engages.size %></small></h3>
  <ol id='worker_<%= @worker.id %>'>
    <%= render @worker.engages %>
  </ul>
</div>

<div id="engage_form_<%= @worker.id %>">
  <%= render 'engages/engage_form', engageable: @worker %>
</div>

<div class="comments_for_worker">
  <h3><%= t('views.comments.title') %> <small><%= @worker.comments.size %></small></h3>
  <ul id='comments_worker_<%= @worker.id %>'>
    <%= render @worker.comments %>
  </ul>
</div>

<div id='comment_form_worker_<%= @worker.id %>' class="comment_form">
  <%= render 'comments/form', commentable: @worker %>
</div>
