<div class="well">
  <h3 style="color:#c82211"><%= title %> 요청하기</h3>
  <%= simple_form_for [engageable, engageable.engages.build], remote: true do | f | %>
    <span class='error-messages'></span>
    <%= f.input :content, label: false, placeholder: "#{title} 내용을 입력하세요.", input_html: { rows: 5 } %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :shared_profile, label: "프로필공개" %>
      </div>
      <div class="col-md-6" style='text-align:right;'>
        <%= f.submit '지원하기', class: 'btn btn-default' %>
      </div>
    </div>
  <% end %>
</div>