<% if @engage.errors.size.zero? %>
  $("ol#<%= @engageable.class.name.downcase%>_<%= @engageable.id%>").append("<%=j render('engages/engage', engage: @engage) %>");
  $('.engage_form form')[0].reset();
  $('#engage_form_<%= @engageable.id%>').html("<%=j render('engages/engage_form', engageable: @engageable) %>")
<% else %>
  $('.engage_form form').prepend("<div class='alert alert-warning alert-dismissable' role='alert'><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button><h4>에러가 발생했습니다.</h4><ul><% @engage.errors.full_messages.each do | error | %><li><%= error %></li><% end %></ul></div>");
  $('.alert.alert-warning').delay(3000).slideUp('fast');
<% end %>