<!DOCTYPE html>
<html>
<head>
  <title>Wants</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="header">
      <%= link_to root_path do %>
      <h1>The Wants<sup>&reg;</sup></h1>
      <% end %>
      <div class='login_status'><%= render 'shared/login_status' %></div>
      <div class='help'><%= link_to "도움말", page_path(:help) %></div>
    </div>
    <div class="trunk">

      <%= content_for?(:main_content) ? yield(:main_content) : yield %>

    </div>
    <div class="footer">
      Copyright 2014, Lucius Choi from RORLAB. All rights reserved.
    </div>
  </div>

</body>
</html>
